@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.header{
    width: 100%;
    height: 100vh;
    background:#020412;
    color: #fff;
    padding: 0 8.5%;
    position: fixed;
    z-index: 1000;
    display: flex;
}
body{
    background-color: black;
    overflow-x: hidden;
    
}

.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 0px 10px;
}
.logo{
    width: 150px;
    cursor: pointer;
    padding-left: 5%;
    height: 90px;
}
.bonnie{
    width: 100px ;
    padding-left: 0%;
    padding-top: 35px;
    height: 90px;
    color: white;
    display: inline;
    font-size: 20px;
    color: darkgoldenrod;
}
.menu-icon{
    width: 35px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
}

nav ul li a:hover{
    color: lightskyblue;
}
nav ul li a::after{
    content: '';
    width: 0;/* this make whenever select button the line will visible*/
    height: 3px;
    background: darkgoldenrod;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/* make line visible when select the button */
nav ul li a:hover::after{
    width: 100%;
}
.text-box{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #fff;
}
.text-box h1{
    font-size: 75px;
    line-height: 160px;
}
.text-box a{
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}
.text-box .btn{
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}
.user-img{
    max-width: 540px;
    width: 100%;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 0%;
    top: 17%;
    border-radius: 8px;
}
/*-----About Me-----*/
#about{
    padding: 80px 0;
    color: black;
    background-image:url("images/cool-background.png");
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:60px;
    font-weight: 600;
    color: darkgoldenrod;
    text-align: center;
    margin-top: 2px;
}
/* skills button */
/* From uiverse.io by @gagan-gv */
.spinner {
    height: 50px;
    width: max-content;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: 1em;
    color: #f5f5f5;
    filter: drop-shadow(0 0 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    text-align: center;
   }
   
   .spinner span {
    animation: loading6454 1.75s ease infinite;
   }
   
   .spinner span:nth-child(2) {
    animation-delay: 0.25s;
   }
   
   .spinner span:nth-child(3) {
    animation-delay: 0.5s;
   }
   
   .spinner span:nth-child(4) {
    animation-delay: 0.75s;
   }
   
   .spinner span:nth-child(5) {
    animation-delay: 1s;
   }
   
   .spinner span:nth-child(6) {
    animation-delay: 1.25s;
   }
   
   .spinner span:nth-child(7) {
    animation-delay: 1.5s;
   }
   
   @keyframes loading6454 {
    0%, 100% {
     transform: translateY(0);
    }
   
    50% {
     transform: translateY(-10px);
    }
   }
  #about-content{
    color: white;
    text-align: center;
    margin:auto;
  }
/* Education */
#university{
    padding: 3%;
    color: black;
    background-color: #c7b4d8;
}
.school h1{
    color: darkgoldenrod ;
    font-size: xx-large;
    display: flex;

}
.courses{
    padding-left: 10%;
}
.metro{
    max-width: 200px;
    width: 100%;
    height: auto;
    position: absolute;
    right: 13%;
    bottom: 0%;
    top: 27%;
    border-radius: 8px;
}
.normandale{
    max-width: 250px;
    width: 100%;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 0%;
    top: 70%;
    border-radius: 8px;
}
.school h2{
    color: white;
    font-size: medium;
}
/* Experience */
.experience-h1{
    color:darkgoldenrod;
    text-align: center;
}
#experience-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#experience-table td, #experience-table th{
    border: 1px solid #ddd;
    padding: 8px;
}
#experience-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
}
.experience1{
    color: white;
}
#experience-table tr:nth-child(even){
    background-color: darkgoldenrod;
}
#experience-table tr:hover{
    background-color: darkgreen;
}
/* Project */
#project-body{
    color: white;
    background-color: #212121;
    display: block;
    padding: 30px 30px 30px 10px;
    text-align: center;
}
.projectname{
    text-align: center;
    color: darkgoldenrod;
}
#bnt1{
    border: 2px solid green;
    border-radius: 25px;
    background: green;

}
/* loading uiverse*/
.scanner h1 {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
   }
   
   .scanner h1::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17FEFF;
    overflow: hidden;
    color: #17FEFF;
    animation: load91371 4s linear infinite;
   }
   
   @keyframes load91371 {
    0%, 10%, 100% {
     width: 0;
    }
   
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
     border-right-color: transparent;
    }
   
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
     border-right-color: #17FEFF;
    }
   
    60%, 80% {
     width: 100%;
    }
   }
/* Media */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px) {
    head{
        padding: 2rem;
    }
    
}
@media (max-width:768px) {
    #header{
        display: initial;
    }
    head .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #333;
        border-top:.1rem solid rgba(255, 255,255,.2);
        padding: 1rem 2rem;

    }
    head .navbar{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;

    }
}
@media(max-width:450px){
    htm{
        font-size: 50%;
    }

}
